@model IEnumerable<EntertainmentAgency.Models.Entertainer>

@{
    ViewData["Title"] = "Entertainers";
}

<h2>@ViewData["Title"]</h2>

<table class="table">
    <thead>
        <tr>
            <th>Stage Name</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var entertainer in Model)
        {
            <tr>
                <td>@entertainer.EntStageName</td>
                <td>
                    <a asp-controller="Home" asp-action="EntertainerDetails" asp-route-id="@entertainer.EntertainerId" class="btn btn-primary">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-controller="Home" asp-action="Create" class="btn btn-success">Add Entertainer</a>
